/* Styling for CS 196 Web Development Hackerspace Week 2 Assignment */

@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');

html {
  width: 100vw;
  background-image: url("hiking.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-size: 125%;
  font-family: "Patrick Hand", Times, serif;
}

body {
  width: 1000px;
  margin: auto;
  padding-top: 100px;
}

header {
  width: 100%;
  margin: auto;
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

div {
  width: 100%;
  margin: auto;
  margin-top: 10px;
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
}

article {
  width: 30%;
  float: left;
}

ul, ol {
  margin-top: -20px;
  width: 100%;
}

figure {
  width: 60%;
  margin-top: 80px;
  float: right;
}

img {
  width: 100%;
}
